.App {
  text-align: center;
}
#nav_menu{
  position:absolute;
  right: 0;
  background-color: #e3e3e3;

}
.hidden{
  display: none;
}
.show{
  display: block;
}
#calendarContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.calendarDay{
  border: solid black 2px;
  width: 15%;
  height: auto;
}
