.App {
  text-align: center;
}
#nav_menu{
  position:absolute;
  right: 0;
  background-color: #e3e3e3;
  z-index: 10;

}
.hidden{
  display: none;
}
.show{
  display: block;
}
#calendarContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}
.calendarDay{
  border: solid black 2px;
  width: 14%;
  height: 20%;
}
.calendarDay h2{
  margin-top: 0;
  text-align: left;
}
