.App {
    text-align: center;
  }
  #nav_menu{
    position:absolute;
    right: 0;
    background-color: #e3e3e3;
    z-index: 10;
  
  }
  .hidden{
    display: none;
  }
  .show{
    display: block;
  }
  #calendarContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
  }
  .calendarDay{
    position: relative;
    background-color: white;
    border: solid black 2px;
    width: 14%;
    height: 20%;
    h2{
        margin-top: 0;
        text-align: left;
      }
    button{
      display: none;
      position: absolute;
      top: 0;
      right: 0;
    }
    &:hover button{
      display: block;
    }
    &.active{
      background-color: grey;
      position: absolute;
      z-index: 100;
      width: 90%;
      height: 80%;
      top:50%;
      margin-left: auto;
    }
  }
  
  .chargeDetails{
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    .charge{
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        padding: .5em;

        &:hover button{
            display: block;
            }

        p{
            margin: 0;
          }

        button{
            display: none;
          }
      }

  }
  #editView{
    .budgetForm{
      input{
        margin: 1em;
      }
    }
  }
  


 
  